    <div class="container">
    <div class="container-fluid">
    
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <input type="datetime-local" name="inputdate" placeholder="filter events by date" required #inputdate="ngModel" [(ngModel)]="filter_date">
          <p class="card-text"><button [disabled]="inputdate.errors" class="btn btn-primary" (click)="filtering(inputdate.value)">Filter</button></p>
        </div>
      </div>

    <div class="row row-cols-1 row-cols-md-3">
<ng-container *ngIf="filtered_set.length==0">

  <blockquote class="blockquote">
    <p class="mb-0">There are no events currently</p>
  </blockquote>

</ng-container>
      <ng-container  *ngFor="let event of filtered_set">

       <div class="col mb-4">
  
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <p class="card-text">{{filtered_set.length}} events received</p>
          </div>
        </div>

       </div>

        <div class="col mb-4">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header"><h5>Event Id&nbsp;:&nbsp;{{event.id}}</h5></div>
            <a routerLink="/events/{{event.id}}" ><img src="{{event.product.image}}" class="card-img-top" alt="{{event.product.category}}"></a>
            <div class="card-body">
              <h5 class="card-title">{{event.product.name  | titlecase}}</h5>
              <p class="card-text">Start Date&nbsp;:&nbsp;{{event.start_date|date:'medium'}}</p>
              <p class="card-text">Base Price&nbsp;:&nbsp;{{event.base_price}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{event.product.description | titlecase}}</small>
            </div>
          </div>
        </div>

    </ng-container>
    </div>
    
  
    </div>
    </div>