

<div class="container">
  <div class="container-fluid">

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
    <div class="card text-white bg-dark mb-3">
      <img src="{{event.product_image.image}}" class="card-img-top" alt="Product Image">
    </div>
    </div>
    </div>
    

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Event Details:</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Id</th>
        <td>{{event.id}}</td>
        
      </tr>

      <tr>
        <th scope="row">Date Added</th>
        <td>{{event.date_added |date :'medium'}}</td>
        
      </tr>
      <tr>
        <th scope="row">Start Date</th>
        <td>{{event.start_date|date :'medium'}}</td>
        
      </tr>
      <tr>
        <th scope="row">Deadline</th>
        <td>{{event.deadline|date:'medium'}}</td>
        
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td>{{event.product.name}}</td>
        
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td>{{event.product.category}}</td>
        
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{event.product.description}}</td>
        
      </tr>
      <tr>
        <th scope="row">Base Price</th>
        <td>{{event.base_price}}</td>
        
      </tr>
    </tbody>
  </table>
<ng-container *ngIf="can_bid && is_bidder">
  <div class="col mb-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <p class="card-text">Want to place bid?</p>
        <p class="card-text"><button class="btn btn-primary" (click)="onClick()">Yes</button></p>
        <p class="card-text">
          <ng-container *ngIf="take_bid">
            
              <form #register_bid="ngForm" (ngSubmit)="validate_bid()">
                <div class="form-group">
              <input type="number" name="bidprice" #bidprice="ngModel" class="form-control"  required [(ngModel)]="user_bidprice">
            <div *ngIf="bidprice.errors && bidprice.touched">
              <small *ngIf="bidprice.errors.required">Bid price is required</small>
            </div>    
            <div *ngIf="is_error">Minimum bid price is {{event.base_price}}. Max bid price is 10 crore</div>
            </div>
            <button [disabled]="register_bid.form.invalid" class="btn btn-primary">Place bid</button>
            </form>
            
          </ng-container>
        </p>
        <p class="card-text"><button class="btn btn-primary" (click)="getHighestBid()">Get Highest Bid</button></p>
        <p class="card-text">Current highest bid is&nbsp; {{highest_bid}}</p>
        <p class="card-text">
        <ng-container *ngIf="is_staff">
         Highest bid User&nbsp;:&nbsp;{{highest_bid_user.username+"  "+highest_bid_user.profile.contact_no}}
        </ng-container>
      </p>
      </div>
    </div>

  </div>
</ng-container>
<ng-container *ngIf="is_staff">
  <button class="btn btn-primary" (click)="deleteEvent()">Delete Event</button>
</ng-container>
<button class="btn btn-primary" (click)="goBack()">Back</button>

</div>
</div>